@import "tailwindcss";
@plugin "daisyui";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-outfit), sans-serif;
  color: #6c706f;
  font-size: 16px;
}

.request-section {
    background-color: #191A1F;
    position: relative;
    z-index: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.bg_img {
  /* background-image: url("/public/assets/images/request-img-1.png"); */
  background-color: aliceblue;
      background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 513px;
    max-width: 845px;
    width: 100%;
    position: absolute;
left: 0;
right: 0;
margin: auto;

    transform: translateY(-50%);
    /* z-index: -1; */
}